{% extends "base.html" %}

{% block content %}
<script src="static/script/main.js"></script>
<h1 class="display-6" style="color: black; padding-bottom: 10px;">
  Likes
</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 10px;">
    Одежда на фото
  </button>
  <form id="checkboxForm" method="POST" action="/favorites">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for cl in check_box %}
        <li><label>
        <input type="checkbox" name="cl" value="{{ cl }}" 
        {% if cl in is_checked %}checked{% endif %}> {{ cl.capitalize() }} 
        </label></li>
      {% endfor %}
    </ul>
    <button class="btn btn-outline-secondary" style="margin: 10px;" type="submit">Найти</button>
  </form>
</div>


{% if count_img == 0  %}
<h6 class="display-6" style="color: black; padding-bottom: 10px; font-size: x-large">
  Нет понравившихся нарядов! <br/> <a href="/search"> На страницу поиска</a>
</h1>
{% endif %}
<form action="/favorites" method="post">
  <div class="cont">
  {% for photo in photos %}
  <div class="item" >
    <button type="submit" name="dislike" value="{{ photo[1] }} {{ photo[0] }}" >
      <i class="fa fa-heart icon" ></i>
    </button> 
    <img src="/static/images/{{ photo[1] }}" onclick="openModal('/static/images/{{ photo[1] }}')"> 
  </div>
  {% endfor %}
  </div>
</form>
<div id="myModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="modalImg">
</div>


{% endblock %}
