.setting-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    width: 60px;
    padding-top: 15px;
    float: left;
    padding-left: 15px;
}

.cont {
    display: flex;
    flex-wrap: wrap;
}
  
.item { 
    position: relative;
}
  
.item img {
    width: 100%;
    display: block;
    border: 1px solid black; 
    border-radius: 10%;
    width: auto;
    max-height: 200px;
    margin: 5px;
}

.item button {
    position: absolute;
    bottom: 10px;
    left: 85%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 0;
}

.fa {
    color: red; 
}

.item button:hover .fa{
    color: gray; 
}

.search_img {
    border: 1px solid black; 
    border-radius: 1%;
    width: auto;
    max-height: 450px;
    margin: 5px;
    max-width: 100%;
    display: block;
}

.status_btn {
    border: 0;
    background: transparent;
    display: block;
}

.clothes{
    margin-bottom: 5px;
    width: 100%;
   
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    border: 1px solid black; 
}

.modal {
    display: none;
    position: fixed;
    padding-top: 10px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
  }


.close:hover, 
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
  