.setting-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    padding-top: 10px;
    float: right;
}

.cont {
    display: flex;
    flex-wrap: wrap;
}
  
.item { 
    position: relative;
}
  
.item img {
    width: 100%;
    display: block;
    border: 1px solid black; 
    border-radius: 10%;
    width: auto;
    max-height: 200px;
    margin: 5px;
}

.item button {
    position: absolute;
    bottom: 10px;
    left: 85%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 0;
}

.fa {
    color: red; 
}

.item button:hover .fa{
    color: gray; 
}

.search_img {
    border: 1px solid black; 
    border-radius: 10%;
    width: auto;
    max-height: 450px;
    margin: 5px;
}

.status_btn {
    border: 0;
    background: transparent;
}