.setting-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    padding-top: 10px;
    float: right
}

.fav_img {
    border: 1px solid black; 
    border-radius: 10%;
    width: auto;
    max-height: 200px;
    margin: 5px;
}
/* .all_photos_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container {
    position:relative;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    
}
.fav_button {
    position: absolute;
    top: 80%; 
    left: 10%;
    right: 0; 
    margin: auto;
    width: 20px;
    border: 0;
    background: transparent;
} */